
    <!-- Large Screen Navigation Bar -->
    <nav>
        <div>
            <strong id="mobile-menu-btn"><div id="menu"></div><div id="menu"></div><div id="menu"></div></strong>
            <a href="#">عربة التسوق</a>
           
            
        </div>
        <div class="links">



            <a href="connect">تواصل معنا</a>
            <a href="discounts">تخفيضات</a>
            <a href="/" class="active">منتجات</a>
            <div class="logo">
                <img src="img\noon (2).png">
                
            </div>
        </div>

    </nav>
    <!-- Small Screen Navigation Bar -->
    <div class="mobile-menu">
        <div class="menu-btn-close"><strong id="mobile-menu-btn-close"><div id="menu-close"></div></strong></div>
        <div class="mobile-menu-items">
        
        <a href="#" class="active">منتجات</a>
        <a href="discounts.html">تخفيضات</a>
        <a href="Connect.html">تواصل معنا</a>
        <a href="#">عربة التسوق</a>
    </div>
    </div>